<template>
  <v-container fluid grid-list-md>
    <v-slide-y-transition mode="out-in">
      <div>
        <!-- Headers -->
        <v-layout row wrap>
          <v-flex xs12>
            <v-card tile flat>
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12>
                    <p class="subheading">Recent Movies</p>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <!-- Main content -->
        <v-layout row wrap>
          <v-flex xs12 sm12 md3 lg2 v-for="em in recents.english" :key="em.id">
            <v-card>
              <v-card-media height="150px":src="em.img_url">
              </v-card-media>
              <v-card-title primary-title>
                <div>
                  <div class="subheading">{{em.name}}</div>
                  <v-chip label color="info" small text-color="white" v-for="(gen,index) in em.genres" :key="index">
                    <v-icon left>label</v-icon>{{gen}}
                  </v-chip>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-chip label outline color="success" small text-color="success">{{em.percentage}}%</v-chip>
                <v-spacer></v-spacer>
                <v-btn small v-if="em.percentage == 100" color="success" icon outline><v-icon small>fa-download</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>
<script>
export default {
  name: 'Recents',
  data () {
    return {
      recents: {
        english: [{
          name: 'Transformers',
          percentage: 80,
          id: 1,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/2/26/Transformers_The_Last_Knight_poster.jpg',
          genres: ['Action', 'Sci-Fi']
        }, {
          name: 'Avengers',
          percentage: 8,
          id: 2,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/f/f9/TheAvengers2012Poster.jpg',
          genres: ['Action', 'Sci-Fi']
        }, {
          name: 'Love Rosie',
          percentage: 20,
          id: 3,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/e/eb/Love%2C_Rosie_%28film%29_UK_poster.jpg',
          genres: ['Drama', 'Romance']
        }, {
          name: 'Escape Plan',
          percentage: 50,
          id: 4,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/thumb/5/5d/Escapeplanfilmposter.jpg/220px-Escapeplanfilmposter.jpg',
          genres: ['Action', 'Drama']
        }, {
          name: 'Kung Fu Panda',
          percentage: 67,
          id: 5,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/thumb/7/76/Kungfupanda.jpg/220px-Kungfupanda.jpg',
          genres: ['Action', 'Animation']
        }, {
          name: 'Madagascar',
          percentage: 75,
          id: 6,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/thumb/3/36/Madagascar_Theatrical_Poster.jpg/220px-Madagascar_Theatrical_Poster.jpg',
          genres: ['Animation', 'Drama']
        }, {
          name: 'Ice Age',
          percentage: 80,
          id: 7,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/Ice_Age_%282002_film%29_poster.jpg/220px-Ice_Age_%282002_film%29_poster.jpg',
          genres: ['Animation', 'Drama']
        }, {
          name: 'Harry Potter and the Goblet of Fire',
          percentage: 100,
          id: 8,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/thumb/c/c9/Harry_Potter_and_the_Goblet_of_Fire_Poster.jpg/220px-Harry_Potter_and_the_Goblet_of_Fire_Poster.jpg',
          genres: ['Drama', 'Mystery', 'Action']
        }, {
          name: 'Iron Man',
          percentage: 1,
          id: 9,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/7/70/Ironmanposter.JPG',
          genres: ['Drama', 'Action', 'Sci-Fi']
        }, {
          name: 'Captain America',
          percentage: 95,
          id: 10,
          img_url: 'https://upload.wikimedia.org/wikipedia/en/5/53/Captain_America_Civil_War_poster.jpg',
          genres: ['Action', 'Sci-Fi']
        }
        ]
      }
    }
  },
  metaInfo () {
    return {
      title: 'Recents',
      titleTemplate: '%s | Celluloid'
    }
  }
}
</script>